.site-title {
  font-size: 2rem;
}

#regPhoto {
  position: relative;
  width: 38vw;
  height: 58vh;
  object-fit: cover;
}



h1 {
  position: relative;
  font-size: 4vw;
  padding: 10px 0px;
  margin: 0px;
}

.dropdown-toggle::after {
  display: none;
}